In [5]:
pip install word2number

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py): started
  Building wheel for word2number (setup.py): finished with status 'done'
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5580 sha256=882cdc6bfbf4e10fa63690343b864eb79fb55cc28fd8c66977c95f28fe25ebc4
  Stored in directory: c:\users\jagan\appdata\local\pip\cache\wheels\a0\4a\5b\d2f2df5c344ddbecb8bea759872c207ea91d93f57fb54e816e
Successfully built word2number
Installing collected packages: word2numberNote: you may need to restart the kernel to use updated packages.

Successfully installed word2number-1.1

In [7]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from word2number import w2n

In [37]:
df=pd.read_csv('hiring.csv')

In [38]:
df

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         NaN                7   72000
7     eleven         7.0                8   80000

In [39]:
df.experience=df.experience.fillna('zero')

In [40]:
df.experience

0      zero
1      zero
2      five
3       two
4     seven
5     three
6       ten
7    eleven
Name: experience, dtype: object

In [41]:
for index,i in enumerate(df.experience):
    df.experience[index]=w2n.word_to_num(i)

C:\Users\jagan\AppData\Local\Temp/ipykernel_16912/2981506150.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.experience[index]=w2n.word_to_num(i)

In [42]:
df

  experience  test_score  interview_score  salary
0          0         8.0                9   50000
1          0         8.0                6   45000
2          5         6.0                7   60000
3          2        10.0               10   65000
4          7         9.0                6   70000
5          3         7.0               10   62000
6         10         NaN                7   72000
7         11         7.0                8   80000

In [43]:
import math

In [44]:
median_t=math.floor(df.test_score.median())

In [45]:
median_t

8

In [46]:
df.test_score=df.test_score.fillna(median_t)

In [47]:
df

  experience  test_score  interview_score  salary
0          0         8.0                9   50000
1          0         8.0                6   45000
2          5         6.0                7   60000
3          2        10.0               10   65000
4          7         9.0                6   70000
5          3         7.0               10   62000
6         10         8.0                7   72000
7         11         7.0                8   80000

In [48]:
reg=linear_model.LinearRegression()

In [49]:
reg.fit(df[['experience','test_score','interview_score']],df.salary)

LinearRegression()

In [50]:
reg.coef_

array([2812.95487627, 1845.70596798, 2205.24017467])

In [51]:
reg.intercept_

17737.263464337688

In [52]:
reg.predict([[2,9,6]])

array([53205.96797671])

In [54]:
reg.predict([[12,10,10]])

array([92002.18340611])

In [55]:
reg.predict([[12,9,6]])

array([81335.51673945])